.Hero-Background {
  background-color: black;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin: 0;
}

.Hero-Title {
  text-align: center;
  color: white;
  font-family: space mono;
}
