.form-container {
  width: 50%;
  min-width: 400px;
}

.form {
  padding: 1em;
  display: flex;
  justify-content: center;
}

.form-input:focus:required:invalid {
  border-color: #eb1c26;
}

.form-error {
  color: #eb1c26;
}
